@media (max-width: 390px) {}

@media (max-height: 844px) {}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';

}

.container {
    position: absolute;
    left: 7vw;
    top: 10vw;
    width: 86vw;
    height: 80vh;
}

.container #title {
    position: absolute;
    top: 1vh;
    font-size: 1.8em;
    font-weight: 900;
}

.container #sub-title {
    position: absolute;
    top: 12vh;
    font-size: 1em;
    font-weight: 500;
}

.container hr {
    /* position: absolute;    */
    position: relative;
    top: 19vh;
    border: 0.1em solid rgb(212, 214, 218);
}

/* 개인정보 */
.container .apply .per-info {
    position: absolute;
    /* position: relative; */
    top: 24vh;
}

.head {
    font-size: 1.2em;
    font-weight: 700;
}

.sub-head {
    font-size: 1em;
    font-weight: 200;
}

input[type="text"],
input[type="tel"] {
    /* margin-top: 1em; */
    margin-left: 1em;
    padding-left: 1em;
    width: 60vw;
    height: 5vh;
    border: 0.1em solid rgb(212, 214, 218);
    border-radius: 0.3em;
}

.content {
    position: relative;
    width: 86vw;
    left: 1vw;
    top: 2.5vh;
}

/* 지원 분야 */
.support-areas {
    position: absolute;
    top: 46vh;
}

input[type="radio"] {
    font-size: 1.2em;
    margin-left: 0.7em;
    margin-right: 1em;
    margin-top: 0.5em;
}

input[type=radio] {
    display: none;
    margin: 10px;
}

input[type=radio]+label {
    /* 컨테이너 가로 배치 */
    display: inline-flex;
    margin: 0.4vw;
    padding: 0.5vh 5vw;
    background-color: white;
    border: 0.1em solid rgb(212, 214, 218);
    border-radius: 0.3em;
    font-size: 13px;
    width: 16vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

/* 지원동기 */
.motive {
    position: absolute;
    top: 64vh;
}

textarea {
    border: 0.2em solid rgb(212, 214, 218);
    border-radius: 0.5em;
    padding: 3vw;
    position: absolute;
    width: 78vw;
    height: 17vh;
    margin-top: 1vh;
    /* margin-bottom: -1vh; */
}

/* 이벤트 */
input:focus,
textarea:focus {
    outline-color: #00D2BD;
}
input[type=radio]:checked + .support-areas{
    border-color:  #00D2BD;
}

/* 버튼 */
.btns {
    position: absolute;
    top: 93vh;
}

.container .btns #apply-btn {
    position: relative;
    width: 86vw;
    height: 5vh;
    margin-bottom: 6vh;
    text-align: center;
    background-color: #00D2BD;
    border: none;
    border-radius: 0.5em;
    color: white;
}