@media (max-width: 390px) {}

@media (max-height: 844px) {}

header {
    /* z-index: 4; */
    position: absolute;
    /* left: 7vw; */
    top: -5vw;
    width: 100vw;
    height: 28vh;
    background-color: var(--main-color);
}

main {
    position: absolute;
    /* left: 7vw; */
    top: 55vw;
    width: 100vw;
    height: 80vh;
    /* background-color: aqua; */
    background-color: var(--white-color);
}

ion-icon {
    /* background-color: var(--white-color); */
    position: absolute;
    top: 1vh;
    width: 10vw;

}

.container {
    position: absolute;
    left: 7vw;
    /* top: -15vw; */
    width: 86vw;
    height: 90vh;
}

.container #title {
    position: absolute;
    top: 1vh;
    font-size: 1.8em;
    font-weight: 900;
    color: var(--white-color);
}

.container #sub-title {
    position: absolute;
    top: 12vh;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--white-color);
}

.container hr {
    /* position: absolute;    */
    position: relative;
    top: 19vh;
    border: var(--light-border) solid var(--gray-color);
}

/* 개인정보 */
.container .apply .per-info {
    position: absolute;
    /* position: relative; */
    top: -7vh;
}

.head {
    font-size: 0.9em;
    font-weight: 200;

}

input[type="text"],
input[type="tel"],
select {
    margin-top: 0.3em;
    margin-bottom: 1.3em;
    /* margin-left: 1em; */
    padding-left: 1em;
    width: 80vw;
    height: 4vh;
    border: var(--light-border) solid var(--gray-color);
    border-radius: 0.3em;
}

.content {
    position: relative;
    width: 86vw;
    /* left: 1vw; */
    top: 2vh;
}

select {
    width: 84vw;
    border: none;
    border: var(--light-border) solid var(--gray-color);
    /* padding-right: 1em; */
}

/* 지원 분야 */
/* .support-areas {
    position: absolute;
    top: 35vh;
}

input[type="radio"] {
    font-size: 1.2em;
    margin-right: 1em;
    margin-bottom: 1.3em;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-flex;
    margin: 0.4vw;
    padding: 0.5vh 5vw;
    background-color: var(--white-color);
    border: 0.1em solid var(--gray-color);
    border-radius: 0.5em;
    font-size: var(--normal-font-size);
    width: 16vw;
    height: 3vh;
    align-items: center;
    justify-content: center;
} */

/* 지원동기 */
.motive {
    position: absolute;
    top: 22vh;
}

textarea {
    border: var(--light-border) solid var(--gray-color);
    border-radius: 0.5em;
    padding: 3vw;
    position: absolute;
    width: 78vw;
    height: 17vh;
    margin-top: 1vh;
    /* margin-bottom: -1vh; */
    resize: none;
}

/* 포트폴리오 */
.portfolio {
    position: absolute;
    top: 49vh;
}

input[type=url] {
    margin-top: 0.5em;
    /* margin-bottom: 1.3em; */
    /* margin-left: 1em; */
    padding-left: 1em;
    width: 80vw;
    height: 4vh;
    border: var(--light-border) solid var(--gray-color);
    border-radius: 0.3em;
}

/* 이벤트 */
input:focus,
textarea:focus,
select:focus {
    outline-color: var(--main-color);
}
input[type="radio"] {
    display: none;
}
input[type=radio]:checked + .support-areas {
    border: var(--light-border) solid var(--main-color);

}

/* 버튼 */
.btns {
    position: absolute;
    top: 70vh;
}

.container .btns #apply-btn {
    position: relative;
    width: 86vw;
    height: 5vh;
    margin-bottom: 10vh;
    text-align: center;
    background-color: var(--main-color);
    border: none;
    border-radius: 0.5em;
    color: var(--white-color);
}