@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #00D2BD;
    --gray-color: rgb(212, 214, 218);
    --white-color: #fff;
    --main-font: 'Pretendard-Regular';
    --normal-font-size: 0.8em;
    --light-border: 0.1em;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

::-webkit-scrollbar {
    display: none;
}